html {
    margin: 0px;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(28,28,28);
}

div.viewer {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 79%;
    margin: 0px;
    margin-left: 271px;
    padding: 0px;
    padding-left: 10px;
    color: rgb(120,120,120);
    overflow: auto;
}

a {
    color: rgb(192,173,156);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
    
object {
    width: 100%;
    height: inherit;
}

div.links {
    height: 90%;
    overflow: auto;
}

div.about {
    padding-top: 2px;
    padding-left: 5px;
    background: rgb(75,75,75);
    color: #ffffff;
    position: absolute;
    top: 90%;
    height: 10%;
    left: 0px;
    width: 270px;
    box-shadow: 0px -2px 10px rgb(20,20,20);
}

div.container { 
    background: rgb(45,45,45);
    box-shadow: 1px 0px 10px #000;
    position: absolute;
    width: 270px;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 0px;
    overflow: hidden;
}

ul {
    padding-left: 10px;
    list-style-type: none;
}

li::before {
    font-weight: bold;
    color: rgb(170,170,170);
    content: "\00bb\00a0";
}

span.link {
    width: 100%;
    color: rgb(200,200,200);
}

span.link:hover {
    color: #cc0000;
    cursor: pointer;
    text-decoration: underline;
}
