/* 
 * Styles for repo documentation
 */

html {
    margin: 0px;
}

body {
    background: rgb(28,28,28);
    font-family: Arial, sans-serif;
    color: rgb(120,120,120);
    overflow: auto;
}

hr {
    border-color: #9c9c9c;
}

span.code {
    border-radius: 4px;
    padding: 4px;
    background: rgb(40,40,40);
    font-family: monospace;
    color: rgb(120,120,160);
    border: 1px solid black;
}
